@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

html {
  color: #4a4a4a;
  font-family: 'futura-pt', sans-serif;
  font-kerning: normal;
  font-size: 19px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #fff;
  margin: 0;
  text-align: left;
}

main {
  margin: 2rem 0;

  @include media-breakpoint-up(md) {
    margin: 3rem 0;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'futura-pt-bold', sans-serif;
  margin-top: 0;
}
